/* phone */
@media (max-width: 600px) {
  html {
    min-width: 0;
  }

  .content {
    width: 100%;
  }

  h2, h3, #slider p, .bx-controls-direction {
    display: none;
  }

  #slider {
    margin: 0;
  }

  #slider img.slide, .slider-image {
    height: auto;
    width: 100%;
  }

  #slider h5 {
    margin-bottom: 10px;
  }

  .slider-image, .slider-caption {
    float: none;
  }

  footer a {
    margin-right: 0;
    padding-left: 14px;
  }

  a.email {
    display: block;
  }

  h1 {
    display: block;
  }
}

/* tablet */
@media (max-width: 960px) {
}
